:root {
  /* Fonts */
  font-family: 'Roboto', sans-serif;

  /* Colors */
  --primary-color: rgb(0, 170, 170);
  --secondary-color: rgb(199, 255, 255);
}

body {
  font-family: 'Roboto', sans-serif;
}